<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<logging>
		<target value="File" file="Logs/${shortdate}_One.SimpleLog.txt" maxRollBackups="30" maxRollTime="1m" />
		<level value="Debug" />
		<pattern value="%Date %Level ${property:ThreadID} - %Message%Newline" />
		<dateFormat value="yyyy-MM-dd_HH:mm:ss" /><!--仅对pattern中%Date生效-->
	</logging>
</configuration>